.ImageCard{
    background-image: url('../../Images/premium_photo.avif');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20rem;
}
.image-card-heading{
    color: #0090B7;
}
.image-card-subheading{
    color: black;
}
.ImageCard-para{
    padding: 10px 0px;
    color :#5E5766 ; 
}


  