.imagertfhover {
    position: relative;
    width: 400px;
    max-height: 31rem;
    overflow: hidden;
}

.image__img {
    display: block;
    width: 100%;
    height: 30rem;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: transparent;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    background-color: #0090B7; /* Blue 500 */
    color: #fff; /* White */
    font-weight: bold;
    padding: 0.5rem 1rem; /* Equivalent to py-2 px-4 */
    border-radius: 9999px; /* Equivalent to rounded-full */
    cursor: pointer;  
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.default-text {
    position: absolute;
    top: 70%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
}

/* Styles for screens up to 767 pixels wide (typical mobile devices) */
@media only screen and (max-width: 767px) {
  .hoverimagecard-resposive{


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .imagertfhover{
    margin-bottom: 10px;
  }

}